a{
    color: white !important;
    padding: 5px;
}

.spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #5892cc;
    color: white;
    font-weight: 600;
  }